.wrapper {
  border: none;
  border-bottom: 1px solid var(--border-color);
  margin: var(--mb-2) 0;
  margin-bottom: var(--mb-2);
  text-align: center;
}

.title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-1);
}

.subtitle {
  font-size: var(--normal-font-size);
}

.description {
  font-size: var(--smaller-font-size);
  margin-bottom: var(--mb-2);
}

article {
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-4);
}