.content {
  box-sizing: border-box;
  margin: auto;
  padding: 0 1rem;
}

@media screen and (min-width: 1024px) {
  .content {
    width: 1024px;
  }
}

.articleWrapper {
  margin: var(--mb-5) 0;
  text-align: center;
}

.title {
  font-size: var(--h1-font-size);
}

.description {
  font-size: var(--smaller-font-size);
}

.border {
  border: none;
  border-top: 1px solid var(--border-color);
  margin: var(--mb-3) 0;
}

.children {
  font-weight: var(--font-sharp);
}