footer {
  border-top: 1px solid var(--border-color);
  display: flex;
  justify-content: flex-end;
  margin-bottom: var(--mb-5);
}

.copyright {
  color: var(--text-color-light);
  font-size: var(--smaller-font-size);
  font-weight: var(--font-sharp);
  margin-right: 1rem;
}