.header {
  background-color: rgba(246, 246, 246, 0.9);
  border-bottom: 1px solid #ccc;
  display: flex;
  height: 64px;
  left: 0;
  margin-bottom: var(--mb-4);
  position: sticky;
  top: 0;
  z-index: var(--z-fixed);
  -webkit-box-align: center;
  align-items: center;
}

.left {
  flex: 1 0 0%;
  -webkit-box-align: center;
  align-items: center;
}

.right {
  flex: 1 0 0%;
  -webkit-box-align: center;
  align-items: center;
}

.ul {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.logo {
  color: var(--text-color-light);
  font-family: "rubik", "arial black", "Helvetica Neue", sans-serif;
  font-size: var(--h2-font-size);
  margin-left: 5%;
}

.li {
  color: var(--text-color-light);
  font-family: "arial black", "Helvetica Neue", sans-serif;
  font-size: var(--small-font-size);
  margin-right: 5%;
}

.li:not(:last-child) {
  margin-right: var(--mb-3);
}
