.Center {
  margin-bottom: var(--mb-5);
  text-align: center;
}

.Title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-2);
}

.SubTitle {
  font-size: var(--smaller-font-size);
}

.Description {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-4);
}

.Link {
  color: var(--text-color-light);
  font-size: var(--h3-font-size);
}
